@keyframes moveUpDown {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.dual_img {
  animation: moveUpDown 5s infinite;
}
