$clrTtl : #FFFFFF;

$clrTtlTxt: #A9C7C7;

$clrBcgTtlBtn: #8856D9;

$clrBcgBtnPlay: #30373F;

$clrCardTxt: #D9D9D9;

$clrBcgBtnCard: #8C96A0;

$clrSpanTxt: #FF4136;

$bcgBody: #1C2023;

$navBtn: rgba(255, 255, 255, 0.50);
