@import './color.scss';

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $clrBcgBtnPlay;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: $clrBcgTtlBtn;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $clrBcgBtnPlay;
}

input:focus + .slider {
  box-shadow: 0 0 1px $clrBcgBtnPlay;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round:before {
  border-radius: 50%;
}

.slider.round {
  border-radius: 34px;
}


.explore {
	&_container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 88px 0 158px 0;
	}

	&_subtitle {
		padding-top: 32px;
		color: $clrTtl;
		font-size: 2rem;
		font-weight: 500;
		padding-bottom: 26px;
	}

	&_setting {
		padding-bottom: 21px;
	}

	&_flex {
		padding-top: 25px;
		padding-bottom: 44px;

	}
}

.explore_setting {
	display: flex;
	align-items: center;
	gap: 15px;

	&__text {
		font-size: 1.4rem;
		font-weight: 400;
	}

	&_para {
		font-size: 1.4rem;
		font-weight: 400;
	}

	&__price {
		font-size: 2rem;
		font-weight: 700;
		color: $clrTtl;
	}
}

.explore_flex {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;

	&__box-lists {
		max-width: 516px;
		padding-bottom: 28px;
	}
	// .explore_flex__box-list

	&__box-list {
		color: $clrTtl;
		font-size: 1.5rem;
		line-height: 3.6rem;
		font-weight: 400;
	}

	&__box-buy {
		color: $clrTtl;
		border-radius: 6px;
		background-color: $clrSpanTxt;
		padding: 8px 19px;
		text-transform: uppercase;
		transition-duration: 0.5s;
	}

	&__box-buy:hover {
		transition-duration: 0.5s;
		background-color: rgb(241, 123, 21);
	}
}

.list {

	&_blue {
		color: $clrBcgTtlBtn;
	}
}

.arrow {
	background-image: url('./images/explore/background-child.png'), url('./images/explore/ellipse-child.svg');
	background-size: 300px 300px 61px 10px;
	background-repeat: no-repeat, no-repeat;
	background-position: bottom left;
}

.berserk {
	background-image: url('./images/explore/background-bers.png'), url('./images/explore/ellipse-man-bers.svg');
	background-size: 300px 300px 61px 140px;
	background-repeat: no-repeat, no-repeat;
	background-position: bottom left;
}