@import './color.scss';

.faq {

	&_container {
		max-width: 904px;
		margin: 0 auto;
	}

	&_title {
		margin-top: 108px;
		text-align: center;
	}

	&_subtitle {
		font-size: 1.7rem;
		font-weight: 600;
		color: $clrTtl;
	}

	&_question {
		margin-top: 37px;
	}

	&_box {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid $clrBcgTtlBtn;
		padding-bottom: 10px;
	}

	&_img {
		padding: 9px;
		transition-duration: 0.5s;
	}

	&_icon {
		background-color: $clrBcgBtnCard;
		transition-duration: 0.5s;
		border-radius: 6px;
	}

	&_icon:hover {
		transition-duration: 0.5s;
		cursor: pointer;
		background-color: $clrBcgTtlBtn;
	}

	&_text {
		font-size: 1.4rem;
		font-weight: 400;
		color: $clrTtl;
		padding-top: 13px;
	}
}

