@import './color.scss';

.display_none {
	display: none;
}

.display_block {
	display: block;
}

.deg {
	transform: rotate(45deg);
	transition-duration: 0.5s;
}

.active {
	background-color: $clrBcgTtlBtn;
	transition-duration: 0.5s;
}

.check_white {
	color: $clrTtl;
}

.check_dark {
	color: $clrBcgBtnPlay;
}

.hidden {
	overflow: hidden;
}

.display_flex {
	display: flex;
}