@import './color.scss';

.pop-text {
	font-size: 1rem;
	color: $clrTtl;
	text-transform: uppercase;
	font-weight: 400;
}

.inp-text {
	font-size: 1.2rem;
	color: $clrCardTxt;
	text-transform: uppercase;
	font-weight: 400;
	background-color: $clrBcgBtnPlay;
	padding: 15px;
	border-radius: 6px;
}

.input-expire {
	padding: 15px;
	border-radius: 6px;
}

.popup {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('./images/popup/popup.png');
	background-repeat: no-repeat;
	background-position: center top 160px;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 150px;
	border-radius: 6px;
	background-color: #1c2024b0;
	backdrop-filter: blur(16px);

	&_container {
		max-width: 406px;
	}
	&_close {
		padding: 10px;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}

	&_title {
		text-align: center;
		font-size: 1.8rem;
		font-weight: 700;
		color: $clrBcgTtlBtn;
	}

	&_subtitle {
		text-align: center;
		padding-top: 15px;
		font-size: 1.5rem;
		font-weight: 500;
	}

	&_form {
		margin-top: 16px;
	}

	&_box {
	}

	&_card {
	}

	&_input-card {
		min-width: 100%;
		margin-top: 7px;
		padding: 15px;
		border-radius: 6px;
	}

	&_info {
		margin-top: 17px;
		display: flex;
		justify-content: space-between;
	}

	&_expire {
		margin-bottom: 7px;
	}

	&_cvv {
		margin-bottom: 7px;
	}

	&_user {
		margin-top: 17px;
	}

	&_input-user {
		margin-top: 7px;
		min-width: 100%;
	}

	&_ok {
		margin-top: 17px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&_radio {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 25px;
		height: 25px;
		border: 2px solid $clrSpanTxt;
		border-radius: 6px;
	}

	&_radio:checked {
		background-color: $clrBcgTtlBtn;
	}

	&_para {
		margin-top: 7px;
		text-transform: none;
		line-height: 15px;
	}

	&_total {
		display: flex;
		justify-content: space-between;
		margin-top: 13px;
	}

	&_summa {
		font-size: 1.4rem;
		color: $clrTtl;
		font-weight: 500;
		text-transform: uppercase;
	}

	&_price {
		font-size: 2rem;
		font-weight: 500;
		color: $clrTtl;
	}

	&_btn {
		margin-top: 19px;
		min-width: 100%;
		font-size: 1.5rem;
		font-weight: 500;
		text-transform: uppercase;
		color: $clrTtl;
		border-radius: 6px;
		background-color: $clrBcgTtlBtn;
		padding: 11px 169px;
		transition-duration: 0.5s;
	}


}